<!DOCTYPE html>
<html>
    <head>  
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>This App is created by {{name}}</h2>
            <img class="portrait" src="/img/cv-img.jpeg"/>
        </div>

        {{>footer}}
    </body>
</html>